{% extends "base.html" %}
{% block main %}
<div class="">
	<form role="form" action="/search" method="GET">
		<div class="input-group input-group-lg">
			<input name="q" type="search" placeholder="Enter a name, place, zip code or BRIN" class="input-lg form-control search-query">
			<span class="input-group-btn">
				<button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span> Search</button>
			</span>
		</div>
	</form>
</div>

<hr>

<div class="row marketing">
	<div class="col-sm-4">
		<h4>DUO</h4>
		<ul class="unstyled">
			<li><span><abbr title="Vestigingen scholen primair onderwijs">PO School branches</abbr></span></li>
			<ul>
			{% for year in counts['duo_po_branches']['facets']['years']['terms'] %}
				<li>
					<span>{{ year['term'] }}</span>
					<span class="badge pull-right">{{ year['count'] }}</span>
				</li>
			{% endfor %}
			</ul>
			<li><span><abbr title="Bevoegde gezagen primair onderwijs">PO School boards</abbr></span></li>
			<ul>
			{% for year in counts['duo_po_boards']['facets']['years']['terms'] %}
				<li>
					<span>{{ year['term'] }}</span>
					<span class="badge pull-right">{{ year['count'] }}</span>
				</li>
			{% endfor %}
			</ul>
			<li><span><abbr title="Hoofdvestigingen scholen primair onderwijs">PO Schools</abbr></span></li>
			<ul>
			{% for year in counts['duo_vo_schools']['facets']['years']['terms'] %}
				<li>
					<span>{{ year['term'] }}</span>
					<span class="badge pull-right">{{ year['count'] }}</span>
				</li>
			{% endfor %}
			</ul>
			<li><span><abbr title="Vestigingen scholen voortgezet onderwijs">VO School branches</abbr></span></li>
			<ul>
			{% for year in counts['duo_vo_branches']['facets']['years']['terms'] %}
				<li>
					<span>{{ year['term'] }}</span>
					<span class="badge pull-right">{{ year['count'] }}</span>
				</li>
			{% endfor %}
			</ul>
			<li><span><abbr title="Bevoegde gezagen voortgezet onderwijs">VO School boards</abbr></span></li>
			<ul>
			{% for year in counts['duo_vo_boards']['facets']['years']['terms'] %}
				<li>
					<span>{{ year['term'] }}</span>
					<span class="badge pull-right">{{ year['count'] }}</span>
				</li>
			{% endfor %}
			</ul>
			<li><span><abbr title="Hoofdvestigingen scholen voortgezet onderwijs">VO Schools</abbr></span></li>
			<ul>
			{% for year in counts['duo_vo_schools']['facets']['years']['terms'] %}
				<li>
					<span>{{ year['term'] }}</span>
					<span class="badge pull-right">{{ year['count'] }}</span>
				</li>
			{% endfor %}
			</ul>
			<li><span><abbr title="Samenwerkingsverbanden passend onderwijs">PaO Collaborations</abbr></span></li>
			<ul>
			{% for year in counts['duo_pao_collaborations']['facets']['years']['terms'] %}
				<li>
					<span>{{ year['term'] }}</span>
					<span class="badge pull-right">{{ year['count'] }}</span>
				</li>
			{% endfor %}
			</ul>
		</ul>
	</div>
	<div class="col-sm-4">
		<h4>Onderwijsinspectie</h4>
		<ul class="unstyled">
			<li>
				<span><abbr title="Vestigingen scholen primair onderwijs">PO School branches</abbr></span>
				<span class="badge pull-right">{{ counts['onderwijsinspectie_po_branches']['facets']['doc_types']['total'] }}</span>
			</li>
			<li>
				<span><abbr title="Vestigingen scholen voortgezet onderwijs">VO School branches</abbr></span>
				<span class="badge pull-right">{{ counts['onderwijsinspectie_vo_branches']['facets']['doc_types']['total'] }}</span>
			</li>
		</ul>
	</div>
	<div class="col-sm-4">
		<h4>Venster voor Verantwoording</h4>
		<ul class="unstyled">
			<li>
				<span><abbr title="Vestigingen scholen voortgezet onderwijs">VO School branches</abbr></span>
				<span class="badge pull-right">{{ counts['schoolvo']['facets']['doc_types']['total'] }}</span>
			</li>
		</ul>
	</div>
</div>
{% endblock %}
